@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  // font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  // font-family: "Roboto", sans-serif;
}

/* Tablet (xs)  */
@media only screen and (min-width: 280px) {
  .innerDiv {
    padding-left: 30px;
    padding-right: 30px;
  }
  header .innerDiv {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.video-iframe {
  & iframe {
    height: 250px;
  }
}
/* Tablet (sm)  */
@media only screen and (min-width: 640px) {
  .innerDiv {
    padding-left: 60px;
    padding-right: 60px;
  }
  header .innerDiv {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-menu {
    display: block !important;
  }
  .message-box {
    transform: translate(-50%, -50%);
  }
  .video-iframe {
    & iframe {
      height: 64vh;
    }
  }
}

/* Tablet (md)  */
@media only screen and (min-width: 768px) {
  .innerDiv {
    padding-left: 60px;
    padding-right: 60px;
  }
  header .innerDiv {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .story-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

/* Desktop (lg) */
@media only screen and (min-width: 1024px) {
  .innerDiv {
    padding-left: 80px;
    padding-right: 80px;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .story-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/* Desktop (xl)  */
@media only screen and (min-width: 1280px) {
  .innerDiv {
    max-width: calc(1280px);
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Desktop (2xl)  */
@media only screen and (min-width: 1536px) {
  .innerDiv {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Max Width 2560px */
main,
header,
footer {
  max-width: 2560px;
  margin: 0 auto;
}


.font-merri {
  font-family: 'Merriweather', serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
  background: #c4c4c4 !important;
  height: 35px !important;
  width: 35px !important;
  border-radius: 50%;
  z-index: 10 !important;
  &::after {
    font-size: 13px !important;
    font-weight: 700 !important;
    color: #000000;
  }
}

@media (min-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
  }
}

.swiper-button-next {
  right: 5px !important;
  transform: translateX(-100%);
  margin-top: -50px !important;
}
.swiper-button-prev {
  left: -15px !important;
  transform: translateX(100%);
  margin-top: -50px !important;
}

.swiper-pagination-bullet {
  background-color: #818181 !important;
  margin-inline: 3px !important;
}

.swiper-pagination-bullet-active {
  background-color: #999999 !important;
  width: 30px !important;
  border-radius: 20px !important;
}

.nav-sticky { 
  position: fixed; 
  top: 0; 
  width: 100%; 
} 
